@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>Looking for a pet you don't need to provide or care for then adopt one of are Wonder pets.</p>
    <p>Wonder pets well provide you with a life time of love, companionship, and Regret.</p>
    <p>All you need to do is find a pet in are databace that fit you and then pay the listed adoption fee.</p>
    <p>Get Your Wonder Pet Today</p>
    <p>WARNING</p>
    <p>Wonder pets are not real pets, make for bad company, and unsafe or illeagle </p>
    <p>You will regret owning a wonder pet.</p>
</div>
