@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Note This site will store info provided as Cookie</p>
<p>Do not give this site Real personal data</p>
<p>This site was never intended to store real data</p>
<p>Any data this site keeps will have only little to no safty</p>

<p>However feel free to play with the site by feeding it dummy info</p>
<p>You Have Been Warned</p>
